{% extends 'base.html' %}

{% load static %}
{% block content %}


    <div class="conteiner">
        <div class="row">
            <div class="col-md-12">
                <h2>BLOOD DONAR LIST</h2>
                <div class="table-wrapper">
                    <table class="fl-table">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Blood Group</th>
                            <th>Phone</th>
                            <th>Address</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            {% for donar in donar %}
                            <td><a href="{% url 'user_profile' donar.id %}">{{ donar.name }}</a></td>
                            <td>{{donar.blood_group}}</td>
                            <td>{{donar.phone}}</td>
                            <td>{{donar.address}}</td>
                
                        </tr>
                            {% endfor %}
                        <tbody>
                    </table>
                
                </div>
            </div>
        </div>
    </div>

    


</body>


{% endblock %}