{% extends 'base.html' %}

{% load static %}
{% block content %}


    <div class="conteiner">
        <div class="row">
            <div class="col-md-12">
                <h2>BLOOD DONAR LIST</h2>
                <div class="table-wrapper">
                    <table class="fl-table">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Blood Group</th>
                            <th>Phone</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            {% for donar in donar %}
                            <td>{{ donar.name }}</td>
                            <td>{{donar.blood_group}}</td>
                            <td>{{donar.phone}}</td>
                
                        </tr>
                            {% endfor %}
                        <tbody>
                    </table>
                <a href="{% url 'user-logout'%}"><button class="btn btn-danger btn-md mt-3">LOGOUT</button></a>
                </div>
            </div>
        </div>
    </div>

    


</body>


{% endblock %}